@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap');

body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

.banner {
    height: 25%;
    text-align: center;
    background-color: #262626;
    color: #f9f9f9;

}

.banner > #title {
    margin: 0;
    padding-top: 5rem;
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
}

.main {
    height: 75%;
    display: flex;
    flex-direction: column;
    font-family: 'Silkscreen', cursive;
}

.msg {
    height: 15%;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.boardcontainer {
    flex: 1;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.playerboard, .aiboard {
    height: 400px;
    width: 400px;
    border: 2px solid #262626;
    border-radius: 10px;
    background-color: #262626;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    row-gap: 1px;
    column-gap: 1px;
    overflow: hidden;
}

.boardtitle {
    margin-top: 1rem;
    text-align: center;
}

.boardgrid.shiphover {
    background-color: #262626;
}

.boardgrid.ship {
    background-color: #262626;
}

.controlpanel {
    width: 150px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-top: 5%;
}

button {
    background-color: #262626;
    border: #262626 2px solid;
    color: #f9f9f9;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    border-radius: 10px;
    font-family: 'Silkscreen', cursive;
}

button:hover {
    background-color: #f9f9f9;
    color: #262626;
    border: #262626 2px solid;
}

button:disabled {
    background-color: #a3a3a3;
    color: #52525b;
    border: #a3a3a3 2px solid;
}

#newgamebtn {
    display: none;
}

.boardgrid {
    background-color: #f9f9f9;
    position: relative;
    text-align: center;
}


.boardgrid.miss {
    background-color: #5eead4;
}

.boardgrid.hit {
    background-color: #fda4af;
}

.boardgrid.hit::after {
    content: '\00d7';
    color: #e11d48;
    font-size: 1.7rem;
    text-align: center;
}

.footer {
    background-color: #262626;
    color: #f9f9f9;
    text-align: center;
}

a {
    text-decoration: underline;
    color: #f9f9f9;
}